.icon {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.icon_mob {
    width: 50%;
    height: auto;
    margin-bottom: 64px;
}

.contact_box{
    width: 50%;
    height: auto;
    padding: 5px;
}

.box{
    width: 100%;
    height: 50px;
    background-color: rgb(67, 67, 68);
}

.headback{
    background-image: url("../media/lawn.jpg");
}

.head_text{
    width: 80%;
}

.contact{
    background-color: #000;
    color: #fff;
    font-size: x-large;
}

.picket{
    margin-top: 1em;
    margin-bottom: none;
    background-image: url("../media/picket.png");
    height: 90px;
}

.about_img{
    width: 30%;
    margin-right: 2%;
    border-radius: 3em;
}

.subline_icons{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.service_col{
    color: #fff;
    background-color: blue;
}

#hamburger{
    position: absolute;
    margin: auto;
    top: 15;
    right: 15;
}

#nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #000;
    visibility: hidden;
}

#nav_close{
    position: absolute;
    right: 5;
}

.nav_menu{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_menu #head{
    width: 100%;
    margin-top: 50;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}

.nav_menu #item{
    font-weight: lighter;
}

@keyframes move {
    0% {
      transform: translateX(0px)
    }
    100% {
      transform: translateX(200px)
    }
  }